.burger{
    display:none;
}
.right{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 2.4rem;
    top: 1rem;
}
@media  screen and (max-width:690px){
 .burger{
    display: block;

 }
 .right{
    background-color: rgba(212, 213, 215, 0.244);
    padding: 10px;
    width: 17%;
    display: none;
    position: absolute;
    right: 3rem;
    top: 3.5rem;
 }
 .right div{
   margin: 10px 0;
 }
}